/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #113949;

}

.margini{
    width: 70%;
    margin: auto;
}


.bottone{
    text-decoration: none;
    border-radius: 5px;
    border:1px solid #fe775a;
    color: white;
    background-color: #fe775a;
}

li i[class~=fa-check-circle]{
    color: #fe775a;
    margin-right: 10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
/* Regole Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

.pre-nav{
    background-color: #f5f8fa;
    border-bottom: 1px solid black;
}

.pre-nav .sinistra{
    float: left;
    height: 70px;
    font-size: 14px;
}

.lingua{
    display: inline-block;
    margin-top: 27px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.contatti{
    display: inline-block;
    margin-top: 27px;
    padding-left: 10px;
}

.pre-nav .destra{
    float: right;
}

.container_bottoni{
    height: 50px;
    margin-top: 27px;
    font-size: 12px;
}

header .bottone{
    padding: 10px;
}

#vuoto{
    background-color: #E8FAFF;
    color: #fe775a;
    margin: 0 20px;
}
/* regole nav */
nav{
    background-color: white;
}

nav img{
    margin-top: 20px;
}

.drop{
    float: right;
    height: 70px;
}

header nav ul{
    margin-top: 27px;
    font-size: 14px;
}

header nav li{
    display: inline-block;
    margin: 0 5px;
}

header nav li:last-child{
    margin: 0;
}

header li a{
    text-decoration: none;
    color: #113949;
}

/* Regole Jumbotron */
.jumbotron{
    position: relative;
    margin-top: 150px;
    height: 725px;
    background-image: url(../img/jumbotron.png);
    background-size: 100%;
    background-position: 0 90%;
    background-repeat: no-repeat;
}

.jumbotron > .testo{
    position: absolute;
    left: 15%;
    top: 50px;
    width: 35%;
}

h1{
    font-size: 45px;
}

.jumbotron p{
    line-height: 25px;
    margin: 35px 0;
    font-size: 14px;
}

.jumbotron a{
    padding: 15px 30px;
    font-size: 12px;
}

.jumbotron h6{
    margin-top: 50px;
}

.separatore{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 86px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}
/* Regole Main */
main{
    background-color: #F0F0F0;
}

/* Regole colonne */

.motto{
    text-align: center;
}

img[alt~=cubo]{
    width: 20%;
    height: auto;
    margin-top: 50px;
}

.motto h5{
    width: 70%;
    margin:50px auto;
    line-height: 25px;
}

/* prima colonna sinistra */
 main .column{
    background-color: white;
    border-radius: 10px;
    border: 2px solid lightgrey;
    margin-bottom: 50px;
}

.prima .sinistra{
    width: 16%;
    text-align: center;
    float: left;
    margin: 30px 10%;
}

.prima img{
    width: 80%;
    margin-top: 30px;
}

.prima a{
    display: inline-block;
    padding: 15px;
    margin: 20px;
}

/* prima colonna destra */
.prima .destra{
    float: left;
    width: 52%;
    margin-top: 60px;
}

main h3{
    margin-bottom: 30px;
}

main h5{
    line-height: 25px;
    margin-bottom: 20px;
}

.destra h4{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    margin-bottom: 30px;
}

.prima .destra hr{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-bottom: 30px;
    color: grey;
}

.prima .destra ul{
    margin-bottom: 50px;
}

.prima .destra li{
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
}

/* seconda colonna */
aside{
    float: left;
    width: 30%;
}

.seconda .column{
    text-align: center;
}

.seconda .column img{
    max-height: 90px;
    width: auto;
    margin: 20px 0;
}
.seconda h5{
    min-height: 175px;
}
.seconda h4{
    margin: 30px 0;
}

.seconda ul{
    list-style-type: none;
    text-align: left;
}

.seconda .bottone{
    display: inline-block;
    margin: 50px 0 30px 0;
    padding: 15px;
}

.centrale{
    margin: 0 5%;
}

/* Regole Learn */
.learn{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    text-align: center;
    padding: 50px 0 100px 0;
    color: white;
}

.learn_scritte h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.learn_scritte h5{
    margin-bottom: 50px;
}

/* regole quadrati */
.quadrato{
    float: left;
    width: 25%;
    padding-bottom: 20px;
}

.learn_quadrati_1 .quadrato{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.learn_quadrati_2 .quadrato{
    border-right: 1px solid white;
}

.learn_quadrati_1 .quadrato:last-child, .learn_quadrati_2 .quadrato:last-child{
    border-right: none;
}

.quadrato img{
    margin-top: 20px;
    max-height: 30px;
}

.numeroni{
    display: block;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}

/* Regole Partners */
.partners{
    height: 700px;
    background-color: lightgrey;
}

/* row superiore */
.partners_superiore{
    /* height: 250px; */
}

.numeri{
    float: left;
    width: 20%;
    height: 250px;
    background-color: red;
}

.loghi{
    float: right;
    width: 60%;
    height: 150px;
    background-color: red;

}

/* row inferiore */
.partners_inferiore{
    /* height: 450px; */
}

.start{
    float: left;
    width: 40%;
    height: 440px;
    background-color: red;
}

.tizia{
    float: right;
    width: 30%;
    height: 440px;
    background-color: red;
}

/* Regole Footer */
footer{
    /* height: 700px; */
    background-color: black;
}

footer .column{
    float: left;
    height: 300px;
    background-color: red;
    width: 25%;

}

.lingue{
    height: 150px;
    background-color: lightblue;
}

.copiright{
    height: 150px;
    background-color: lightgrey;
}
